.fault-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selection-container {
    display: flex;
    align-items: center;
    /* width: 72px; */
    width : 6vw;
    /*justify-content: space-between;*/
}